___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            c = a
        else:
            c = b
    else:
        if a > b:
            c = a
        else:
            c = b
    return c

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    mytext = text.split()
    if mytext[0][0] == mytext[1][0]:
        return True
    else:
        return False

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [14]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [19]:
def old_macdonald(name):
    x = name[:3]
    y = name[3:]
    
    return x.capitalize() + y.capitalize()

In [20]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [26]:
def master_yoda(text):
    text_list = text.split()
    text_list.reverse()
    return " ".join(text_list)

In [27]:
# Check
master_yoda('I am home')

'home am I'

In [28]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [29]:
def almost_there(n):
    if n >= 90 and n <= 110:
        return True
    elif n >= 190 and n <= 210:
        return True
    else:
        return False

In [30]:
# Check
almost_there(104)

True

In [31]:
# Check
almost_there(150)

False

In [32]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [79]:
def has_33(nums):
    i = 0
    while i < len(nums) - 1:
        if nums[i] == 3:
            if nums[i + 1] == 3:
                return True
            else:
                pass
        else:
            pass
        i += 1
    return False

In [80]:
# Check
has_33([1, 3, 3])

True

In [81]:
# Check
has_33([1, 3, 1, 3])

False

In [82]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [2]:
def paper_doll(text):
    new_text = " "
    for i in text:
        new_text += i*3
    return new_text

In [3]:
# Check
paper_doll('Hello')

' HHHeeellllllooo'

In [4]:
# Check
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [5]:
def blackjack(a,b,c):
    x = a+b+c
    if x <= 21:
        return x
    else:
        if a == 11 or b == 11 or c == 11:
            x = x - 10
            if x <= 21:
                return x
            else:
                pass
        else:
            return "BUST"

In [6]:
# Check
blackjack(5,6,7)

18

In [7]:
# Check
blackjack(9,9,9)

'BUST'

In [8]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [67]:
def summer_69(arr):
    sum = 0
    i = 0
    while i < len(arr):
        if arr[i] == 6:
            while i < len(arr) and arr[i] != 9:
                i += 1
            i += 1
        else:
            sum += arr[i]
            i += 1
    return sum

In [68]:
# Check
summer_69([1, 3, 5])

9

In [69]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [70]:
# Check
summer_69([2, 1, 6, 9, 11])

14